@media(max-width:1215px){

    .map-bg-right{
        left: -400px;
        width: calc(100% + 500px);
    }
}

@media(max-width:1000px){
    .map-bg-right{
            left: -300px;
            width: calc(100% + 500px);
    }

    .map-bg-left{
            left: -280px;
            width: calc(100% + 400px);
    }
}

.map-sections-wrap{
    transition: all 2s ease;
}

.js-hide {
    opacity: 1;
    display: block;
    transition: all .4s ease;
}

.js-hide.active {
    display: block;
    opacity: 0;
}

.map.active {
    bottom: 0px;
    transform: translate(0px, 0px);
    transition: all 2s ease;
}

.map-bg.active {
    transition: all 1s ease;
}

.map-bg-right,
.map-bg-left{
    transition: all .4s cubic-bezier(0.35, 0.29, 0.51, 0.79);
}

.map-bg-right.active,
.map-bg-left.active {
    transition: all 4s cubic-bezier(0.35, 0.29, 0.51, 0.79);
}

.map-preview.active,
.map-explore.active{
    transition: all 1.3s ease-in-out;
}