@font-face {
    font-family: 'Futura PT';
    src: url('https://milka.dev.commeta.pro/FuturaPT-Book.eot');
    src: url('https://milka.dev.commeta.pro/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('https://milka.dev.commeta.pro/FuturaPT-Book.woff2') format('woff2'),
        url('https://milka.dev.commeta.pro/FuturaPT-Book.woff') format('woff'),
        url('https://milka.dev.commeta.pro/FuturaPT-Book.ttf') format('truetype'),
        url('https://milka.dev.commeta.pro/FuturaPT-Book.svg#FuturaPT-Book') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('https://milka.dev.commeta.pro/FuturaPT-Heavy.eot');
    src: url('https://milka.dev.commeta.pro/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('https://milka.dev.commeta.pro/FuturaPT-Heavy.woff2') format('woff2'),
        url('https://milka.dev.commeta.pro/FuturaPT-Heavy.woff') format('woff'),
        url('https://milka.dev.commeta.pro/FuturaPT-Heavy.ttf') format('truetype'),
        url('https://milka.dev.commeta.pro/FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('https://milka.dev.commeta.pro/FuturaPT-Bold.eot');
    src: url('https://milka.dev.commeta.pro/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://milka.dev.commeta.pro/FuturaPT-Bold.woff2') format('woff2'),
        url('https://milka.dev.commeta.pro/FuturaPT-Bold.woff') format('woff'),
        url('https://milka.dev.commeta.pro/FuturaPT-Bold.ttf') format('truetype'),
        url('https://milka.dev.commeta.pro/FuturaPT-Bold.svg#FuturaPT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('https://milka.dev.commeta.pro/FuturaPT-Medium.eot');
    src: url('https://milka.dev.commeta.pro/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://milka.dev.commeta.pro/FuturaPT-Medium.woff2') format('woff2'),
        url('https://milka.dev.commeta.pro/FuturaPT-Medium.woff') format('woff'),
        url('https://milka.dev.commeta.pro/FuturaPT-Medium.ttf') format('truetype'),
        url('https://milka.dev.commeta.pro/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none
}

body {
    font-family: 'Futura PT';
    font-weight: 400;
    font-style: normal;
    background-color: #766bb0 !important;
    color: #fff !important;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    box-sizing: content-box;
    height: 100%;
}

.container.uf-container.container--custom {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    box-sizing: content-box;
    padding: 0;
}

.dropzone.dropzone--custom.dz-clickable {
    background-color: #766bb0;
    border: 2px solid rgba(255, 255, 255, .1);
    text-align: center
}

.dropzone .dz-preview.dz-image-preview {
    margin: 16px auto;
    background: transparent !important;
}

.dropzone .dz-preview .dz-image {
    width: 150px !important;
    height: 150px !important;
    margin: auto;
    border: 2px solid #fff;
}

.dropzone .dz-preview .dz-remove {
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 0 !important;
    font-weight: bold;
    font: 500 14px "Futura PT";
    background-color: red;
    border: 2px solid #fff !important;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    border-radius: 15px;
    z-index: 21;
    color: #fff;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    padding-left: 20px;
    text-decoration: none;
}

.dropzone .dz-preview .dz-remove::before {
    content: 'X';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    height: 14px;
}

.dropzone .dz-preview .dz-remove:hover {
    text-decoration: none !important;
}

.uf-button-wrapper.button-wrapper--custom {
    text-align: center
}

.uf-button-submit.button-submit--custom {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 250px;
    width: 100%;
    box-shadow: 0 0px 20px #452b7b;
    font-family: 'Futura PT';
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    text-align: center;
    font-weight: bold;
    border-radius: 100px;
    background: #ebc07c;
    color: #3f3282;
    text-transform: uppercase;
    margin: auto auto 10px;
    position: relative;
    border: none;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.uf-button-submit.button-submit--custom:hover {
    box-shadow: 0;
}

.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom {
    margin-top: 20px;
}

.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom button {
    position: relative;
    display: block;
    width: auto;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    border: none;
    padding-left: 20px;
    background: none;
    text-decoration: underline;
    margin: auto;
}

.uf-switchToManuallyButton-wrapper.switchToManuallyButton-wrapper--custom button:hover {
    text-decoration: none;
}

.dropzone.dz-started .dz-message span {
    position: relative;
    display: inline-block;
    width: auto;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    border: none;
}

.dropzone.dz-started .dz-message span:hover {
    text-decoration: none;
}

.uf-controls-wrapper {
    margin-top: 20px;
}

.uf-controls-wrapper .form-control {
    width: 100%;
    height: 50px;
    font-family: 'Futura PT';
    font-weight: 500;
    font-style: normal;
    padding: 0;
    padding-left: 20px !important;
    padding-right: 10px !important;
    background-color: transparent;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 16px !important;
    color: #fff;
    min-width: 240px;
    max-width: 320px;
    font-size: 12px;
    line-height: 14px;
    margin: 10px auto;
    outline: none;
}

.form-control:focus {
    border-color: #fff !important;
    box-shadow: none !important;
}

.input-group.date {
    margin: 10px auto;
    width: 100%;
    min-width: 240px;
    max-width: 320px;
}

.input-group.date input {
    margin: 0;
    min-width: 220px;
}

.input-group.date .input-group-addon {
    border-radius: 0;
}

.dropzone .dz-preview .dz-image {
    border-radius: 0;
}

.bootstrap-datetimepicker-widget {
    z-index: 9999;
    background: #fefefe;
    color: #000;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    width: 17em;
}