html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    display: block;
}

ol,
ul {
    list-style: none;
}

b,
strong {
    font-weight: bolder;
    font-family: 'Futura PT', sans-serif;
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-style: none;
}

a {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    transition: all .3s;
    /* -webkit-transition: all .4s linear;
    transition: all .4s linear; */
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    resize: vertical;
    overflow: auto;
    resize: none;
}

::-ms-clear {
    display: none;
}

input {
    overflow: visible;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #fff;
    font: normal 16px 'Futura PT', sans-serif;
    /* background: #7D68AB; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 0;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}


/* .content {
    flex: 1 0 auto;
} */

.footer {
    flex: 0 0 auto;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Book.eot');
    src: url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Book.woff2') format('woff2'),
        url('../fonts/FuturaPT-Book.woff') format('woff'),
        url('../fonts/FuturaPT-Book.ttf') format('truetype'),
        url('../fonts/FuturaPT-Book.svg#FuturaPT-Book') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Heavy.eot');
    src: url('../fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Heavy.woff2') format('woff2'),
        url('../fonts/FuturaPT-Heavy.woff') format('woff'),
        url('../fonts/FuturaPT-Heavy.ttf') format('truetype'),
        url('../fonts/FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Bold.eot');
    src: url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
        url('../fonts/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/FuturaPT-Bold.ttf') format('truetype'),
        url('../fonts/FuturaPT-Bold.svg#FuturaPT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Medium.eot');
    src: url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
        url('../fonts/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT-Medium.ttf') format('truetype'),
        url('../fonts/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*main styles*/
.hidden-x {
    overflow-x: hidden;
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1030px;
    margin: auto;
    padding: 0 15px;
    position: relative;
    z-index: 0;
}

.content-up .container {
    z-index: auto;
}

.header {
    box-shadow: 2px 0 30px rgba(0, 0, 0, .6);
    position: relative;
    z-index: 1;

}

.header__inner {
    position: relative;
    padding-left: 260px;
}

.header-inner-nav {
    padding-left: 265px;
}

.header__nav-list {
    justify-content: space-between;
}

.header__row {
    padding-top: 14px;
    padding-bottom: 14px;
    background: #fff;

}

.header__row.purple {
    background: #7D68AB;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    z-index: -1;
}

.header__logo {
    position: absolute;
    left: -70px;
    top: -20px;
}

.header__logo a {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
}

.header__links,
.header__nav-list {
    display: flex;
    align-items: center;
}

.header__links-item {
    margin-right: 28px;
    opacity: .2;
    pointer-events: none;
}

.header__links-item:last-child {
    margin-right: 0;
}

.header__nav-item {
    max-width: 140px;
    text-align: center;
}

.header__nav-item.roza-h {
    max-width: 130px;
}

.header__nav-link {
    transition: none;
    padding-top: 9px;
    padding-bottom: 9px;
    display: block;
    padding-left: 13px;
    padding-right: 14px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.header__nav-link.red {
    background: #e40002;
    font-weight: bold;
}

.ttl {
    font-weight: bold;
    font-size: 46px;
    text-align: center;
}

/* hero */

.section-hero {
    background: #7D68AB;
    padding-top: 170px;
    min-height: 518px;
    padding-bottom: 100px;
    overflow: hidden;
    border-radius: 0px 0px 250% 250% / 0px 0px 20% 20%;
}

.hero {
    position: relative;

}

.hero__img {
    position: absolute;
    top: 0px;
    right: 0;
    transform: translate(30%, -53%);
    z-index: 1;
}

.snow1 {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-15%, 44%);
    user-select: none;
}

.snow2 {
    position: absolute;
    left: 0;
    top: 45px;
    user-select: none;
    /* transform: translate(0, 36%); */
}

.cab {
    position: absolute;
    right: 410px;
    z-index: 1;
    top: 298px;
    left: 100px;
}

.sun {
    z-index: 2;
    position: absolute;
    top: -270px;
    right: -100px;
}


.sticker {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid white;
    background: #7D68AB;
    flex-direction: column;
    position: absolute;
    right: -20px;
    z-index: 1;
    bottom: -150px;
}

.sticker__title {
    max-width: 130px;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.sticker__link {
    text-decoration: underline;
    text-align: center;
    font-weight: 300;

}

.hero__title {
    font-size: 46px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 38px;
    max-width: 430px;
}

.hero__title span {
    font-weight: 300;
}

.section-steps {
    padding-top: 210px;

}

.steps__list {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.steps__img {
    margin-bottom: 30px;
    width: 320px;
    position: relative;
    height: 260px;

}

.steps__img img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.steps__desc {
    padding-left: 64px;
}

.steps__desc-title {
    position: relative;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
}


.steps__desc-title::after {
    position: absolute;
    content: '';
    width: 64px;
    height: 54px;
    background-size: contain;
    left: -72px;
    top: -10px;
}

.steps__desc-text {
    font-weight: 300;
}

.steps__desc-title.num1::after {
    background: url('../img/steps/11.png') center no-repeat;
}

.steps__desc-title.num2::after {
    background: url('../img/steps/22.png') center no-repeat;
}

.steps__desc-title.num3::after {
    background: url('../img/steps/33.png') center no-repeat;
}





.btn {
    text-align: center;
    font-weight: bold;
    border-radius: 100px;
    background: #ebc07c;
    color: #3f3282;
    text-transform: uppercase;
}

.btn-upload {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 320px;
    width: 100%;
    box-shadow: 0 0px 40px #452b7b;
    font-size: 27px;
    font-weight: bold;
}

.weekly__title {
    color: #7D68AB;
    margin-bottom: 50px;
}

.section-weekly {
    padding-top: 60px;
    background: white;
    position: relative;
}

.section-weekly::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 32px;
    top: 0;
    left: 0;
    background: url('../img/section-transition.png') center top no-repeat;
    background-size: contain;
}

.section-weekly::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 32px;
    bottom: 0px;
    left: 0;
    background: url('../img/section-transition.png') center top no-repeat;
    background-size: contain;
    transform: rotate(180deg);
}

.weekly__prize {
    width: 100%;
    max-width: 320px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    color: #7D68AB;
    font-size: 21px;
    display: inline-block;
    margin-bottom: 70px;
    vertical-align: middle;
    margin-right: 16px;
}

.weekly__prize:nth-child(3n) {
    margin-right: 0;
}

.weekly__prize-img {
    margin-bottom: 20px;
    height: 230px;
    position: relative;
}

.weekly__prize-img img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}

.weekly__prize-desc {
    margin-bottom: 20px;
    font-weight: 300;
}

.weekly__prize-desc.weekly5 {
    height: 82px;
}


.weekly__prize-coins {
    color: #fff;
    max-width: 92px;
    height: 40px;
    background: url('../img/weekly/mark.png') center no-repeat;
    position: relative;
    background-size: cover;
    margin: auto;
}

.weekly__prize-coins.larger {
    max-width: 100px;
}

.weekly__prize-coins span::after {
    position: absolute;
    width: 40px;
    height: 34px;
    left: -36px;
    top: 3px;
    content: '';
    background: url('../img/weekly/coin.png') center no-repeat;
    background-size: contain;

}

.weekly__prize-coins span {
    position: absolute;
    height: 32px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
    display: block;
}

.content {
    /* overflow: hidden; */
    background: #7D68AB;
}

.footer {
    padding-bottom: 26px;
    /* background: url('../img/footer-bg.png') center no-repeat; */
    background-size: cover;
    position: relative;
    z-index: 1;
    transform: translate(0, -25px);
}

.footer__inner {
    position: relative;
}

.footer-bg {
    position: absolute;
    width: 100%;
    height: calc(100% + 220px);
    background: url('../img/footer-bg.png') center no-repeat;
    background-size: cover;
    bottom: 0;
    z-index: -1;
}

.footer__inner .logo {
    margin: auto;
    max-width: 210px;
    width: 100%;
    margin-bottom: 28px;
    margin-top: 40px;
}

.footer__links {
    display: flex;
    width: 100%;
    max-width: 880px;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;

}

.footer__link-w100 {
    width: 100%;
    text-align: center;
}

.footer__link-w100 a {
    display: inline-block;
    margin: auto;
    margin-top: 20px;
    text-decoration: underline;
}

.footer__link a {
    color: #4f206f;
    font-size: 16px;
    font-size: 21px;
    font-weight: normal;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: underline;
}

.cc {
    font-size: 18px;
    font-size: 21px;
    text-align: center;
    color: #7d68aa;
    margin-top: 20px;
    position: relative;
}

.header__mobile-dropdown {
    display: none;
}

.header-lc {
    width: 16px;
    height: 24px;
    box-sizing: content-box;
    background: url('../img/lc.png') center no-repeat;

}

.header-lc:hover {
    background: url('../img/lcun.png') center no-repeat;

}

.header-lc::after {
    display: none;
}

.header-lc.unauth {
    background: url('../img/lcun.png') center no-repeat;

}

.header-lc.unauth:hover {
    background: url('../img/lc.png') center no-repeat;

}

.header-lc span {
    display: none;
}

.burger {
    display: none;
}

.winners-table-mobile {
    display: none;
}

.weekly-image-m .weekly__prize-img {
    margin-left: 50px;
}

.weekly {
    margin: auto
}

.weekly__prizes {
    text-align: center;
}


@media (max-width: 1000px) {

    .winners-table-mobile {
        display: block;
        font-weight: 300;
        padding-bottom: 40px;
        max-width: 490px;
        margin: auto;
    }

    .winners-table-mobile li {
        margin-bottom: 20px;
    }

    .winners__months {
        width: calc(100% + 30px);
        margin-left: -15px;
    }

    .months span:first-child {
        border-left: none !important;
        border-radius: 0 !important
    }

    .months span:last-child {
        border-right: none !important;
        border-radius: 0 !important
    }

    .winners__table {
        display: none;
    }

    .burger {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        right: -15px;
        top: 0;
        bottom: 0;
        margin: auto;
        background: url('../img/burger.png') center no-repeat;
        background-color: #e40002;
        cursor: pointer;
    }

    .header-inner-links {}

    .header__row {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header__mobile-dropdown {
        color: #766bb0;
        display: inline-block;
        color: #766bb0;
        border: 1px solid #766bb0;
        border-radius: 100px;
        padding-left: 25px;
        padding-right: 10px;
        position: absolute;
        right: 48px;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 26px;
    }

    .header__mobile-dropdown:hover {
        color: #766bb0;

    }

    .footer__link {
        font-size: 14px;
        margin-left: 3px;
        margin-right: 3px;
        font-weight: bold;
        text-transform: none;
        text-decoration: underline;
    }


    .footer__link:not(.footer__link-w100) {
        margin-top: 20px;
    }

    .footer__link:first-child {
        margin-top: 0;
    }

    .footer__link a {
        color: #4f206f;
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .cc {
        font-size: 14px;
    }

    /* .footer-bg {
        background-position: -1220px -40px;
    } */


    .header__mobile-dropdown::after {
        position: absolute;
        left: 8px;
        content: '';
        width: 12px;
        height: 8px;
        background: url('../img/dd.png') center no-repeat;
        background-size: contain;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .header__inner {
        padding-left: 150px;
    }

    .header__links {
        display: none;
    }

    .header__nav {}

    .header__nav-link {
        display: none;
    }

    .header__nav.active .header__nav-link {
        display: block;
    }

    .header__nav.active .burger {
        display: none;
    }

    .header__nav.active {
        position: fixed;
        z-index: 50;
        background: #7D68AB;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
    }

    .header__nav.active .close-menu {
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 20px;
        width: 15px;
        height: 15px;
        background: url('../img/close.png') center no-repeat;

    }

    .header__nav.active .header__nav-list {
        flex-direction: column;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }

    .header__nav-link {
        /* display: none; */
    }

    .header__nav-item {
        max-width: 100%;
        width: 100%;
    }

    .header__nav-link.header-lc {
        padding-top: 10px;
        padding-bottom: 9px;
        display: flex;
        align-items: center;
        padding-right: 50px;
        background-position: 14px 14px;
        margin-right: 48px;
    }

    .header__nav-link.header-lc:hover {
        background-position: 14px 14px;
        padding-right: 50px;
    }

    .header-lc span {
        display: inline-block;
        margin-left: 26px;
        text-transform: none;
        text-decoration: underline;
        font-weight: 300;
    }



    .sticker {
        display: none;
    }

    .header__logo {
        position: absolute;
        left: -26px;
        top: -20px;
        width: 170px;
        z-index: 1;
    }

    .hero__img {
        top: 0;
        right: -70px;
        transform: translate(0%, -50%);
        z-index: 1;
        width: 360px;
        position: absolute;

    }

    .header {
        z-index: 2;
    }

    .snow2 {
        display: none;
    }

    .snow1 {
        position: absolute;
        top: 20px;
        right: 16px;
        z-index: 0;
        transform: translate(0, 0);
        user-select: none;
    }

    .hero__title {
        padding-top: 200px;
        font-size: 32px;
    }

    .section-steps {
        padding-top: 20px;
    }

    .steps__list {
        flex-direction: column;
        align-items: center;
    }

    .steps__item {
        margin-bottom: 30px;
        margin-left: 0;
        max-width: 100%;
        width: 100%;
    }

    .ttl {
        font-size: 32px;
    }

    .footer__links {
        display: block;
        text-align: center;
    }

    .footer__link {
        display: inline-block;
    }

    .baloon {
        max-width: 100px;
    }

    .weekly {
        max-width: 320px;
        margin: auto;
    }

    .weekly__prize {
        margin-right: 0;
        position: relative;
        margin-bottom: 40px;
    }

    .weekly__title {
        max-width: 230px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }


    .weekly__prize-img {
        width: 120px;
        position: absolute;
        height: 120px;
    }

    .weekly__prize-desc {
        padding-left: 130px;
        text-align: left;
        font-size: 16px;
        height: auto;
    }

    .weekly__prize-desc.weekly5 {
        height: auto;
    }

    .weekly__prize-coins {
        margin-left: 130px;
        transform: scale(0.8);
        position: relative;
        left: -9px;
    }

    .weekly-image-m .weekly__prize-img {
        margin-left: 0;
    }

    .weekly__prize-img img {
        height: 90px;
    }

    .weekly__prize-desc {
        margin-bottom: 15px;
    }

    .steps__img {
        width: auto;
        max-width: 130px;
        margin-left: auto;
        margin-right: auto;
        height: 150px;
    }

    .steps__item {
        margin-bottom: 30px;
    }

    .steps__item:first-child .steps__img img {
        max-width: 210px;
        left: -25px;
        right: 0;
    }





    .map-explore.active {
        overflow: visible;
        transform: scale(1);
        width: 320px;
        left: 0;
        right: 0;
    }
}

.section-map .container {
    position: static;
}

.section-map {
    /* height: 880px; */
    /* background: url('../img/map-bg.png') no-repeat; */
    background-position: 0px 230px;
    background-color: #7D68AB;
    background-size: cover;
    position: relative;
    transition: all .4s ease-in;
}

.map-sections-wrap.explore {
    height: 1400px;
    transition: all 2s ease;
}

.map__title {
    padding-top: 60px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.map__title.rh {
    margin-bottom: 0;
}

.map__title-desc.rh {
    font-size: 46px;
}

.map__title-desc {
    position: relative;
    font-size: 22px;
    z-index: 3;
    max-width: 600px;
    min-height: 56px;
    margin: auto;
    text-transform: uppercase;
}

.map-bg {
    position: absolute;
    /* bottom: -210px; */
    left: 0;
    width: 100%;
    background-size: cover;
    height: 100%;
    background: url('../img/map-bg.png') no-repeat center;
    z-index: 1;
    background-position-y: 265px;
    top: 0;
    transition: all 1s ease;
}

.map-bg.active{
    background-position-y: 265px;
}

.sun2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

}

.baloon {
    position: absolute;
    right: calc(0px + 130px);
    z-index: 3;
    top: -110px;
}

.sticker-ball {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 6px solid white;
    background: #7D68AB;
    flex-direction: column;
    position: absolute;
    right: -20px;
    z-index: 1;
    bottom: -150px;
}

.sticker-ball .sticker__title {
    max-width: 130px;
    font-weight: bold;
    font-size: 21px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.map {
    z-index: 1;
    position: relative;
    padding-top: 250px;
    /* transform: translate(0px, 560px); */
    transition: all 2s ease;
    bottom: -665px;
}

.map.active{
    bottom: 0px;
    /* transform: translate(0px, 0px); */
}

.js-hide.active{
    display: none;
}

.mapl {
    position: relative;
}

.mapl1 {
    height: 126px;
}

.mapl2 {
    height: 100px;
}

.mapl3 {
    height: 100px;
}

.mapl4 {
    height: 100px;
    padding-top: 100px;
}

.mapl5 {
    height: 100px;
    padding-top: 100px;
}

.mapl6 {
    padding-top: 170px;
    height: 100px;
}

.mapl7 {
    height: 50px;
}

.mapl__item {
    position: absolute;
}

.mapl__item1 {
    left: calc((1000px / 6));
}

.mapl__item2 {
    left: calc((1000px / 6) + 200px);
    bottom: 0;
}

.mapl__item3 {
    left: calc(1000px / 6 + 0px);
    top: -160px;
}

.mapl__item3-2 {
    left: -90px;
}

.mapl__item4 {
    left: calc((1000px / 6));
}

.mapl__item5 {
    left: -90px;
    top: 130px
}

.mapl__item6 {
    left: calc((1000px / 6 + 350px));
    bottom: -70px;

}

.mapl__item7 {
    bottom: -125px;
    right: -96px;

}


@media (max-width: 1520px) {

    .baloon {
        width: 270px;
        right: calc(0px + 20px);
    }

}


.map-preview,
.map-explore {
    /* display: none; */
    opacity: 0;
    transition: all 1.3s ease-in-out;
    z-index: 2;
}

.map-explore {
    /* height: 880px; */
    z-index: 1;
    /* transform: scale(1.2); */
}

.map-explore {
    opacity: 1;
}

.map-preview.active,
.map-explore.active {
    opacity: 1;
    display: block;
}

.map-explore.active {
    height: 1400px;
    overflow: visible;
    transform: scale(1);
}



.map-preview .map-bg {
    background: url('../img/map-bg-preview2.png') no-repeat center bottom;
    background-size: cover;
    background-position-y: 40px;
    /* background-size: cover;
    background-position: 0 100px; */
}

.map-bg-left {
    position: absolute;
    left: -75px;
    width: 100%;
    background-size: cover;
    height: 100%;
    z-index: 2;
    bottom: 0;
    transition: all 4s cubic-bezier(0.35, 0.29, 0.51, 0.79);
    transform: translate(0px, 0px);
}


.map-bg-right {
    position: absolute;
    left: 0;
    width: 100%;
    background-size: cover;
    height: 100%;
    z-index: 2;
    bottom: 0;
    transition: all 4s cubic-bezier(0.35, 0.29, 0.51, 0.79);
    bottom: 0;
    transform: translate(0px, 0px);

}

.map-bg-left.active {
    transform: translate(-1000px, 1300px);
}

.map-bg-right.active {
    transform: translate(1000px, 1300px);
}

.map-bg-left img {
    position: absolute;
    bottom: 0;
    bottom: -170px;
    
}


.map-bg-right img {
    position: absolute;
    right: 0;
    bottom: 0;
    /*bottom: -135px;*/
}


.map-btn {
    margin: auto;
    margin-top: 20px;
    max-width: 360px;
    position: relative;
    z-index: 3;
}

/* .map-prevew .map-bg2{
    background: url('../img/map-bg.png') no-repeat center;
    position: absolute;
    bottom: -210px;
    left: 0;
    width: 100%;
    background-size: cover;
    height: 100%;
    z-index: 1;
} */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
    opacity: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: flex-start;
    padding-top: 10%;
    pointer-events: none;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.popup-reg {
   padding-top: 5%; 
}

.js-popup-show {
    z-index: 999;
    opacity: 1;
    pointer-events: visible;
}


.popup__wrap {
    background: #766bb0;
    max-width: 420px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 42px 46px 36px 42px; */
    position: relative;
    padding-top: 40px;
    padding-bottom: 36px;
    /* box-sizing: content-box; */
}

.popup__inner {
    max-width: 320px;
    margin: auto;
    width: 100%;
}

.popup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.popup .btn {
    margin: auto;
    margin-top: 32px;
    max-width: 250px;
    width: 100%;
    box-shadow: 0 0px 40px #452b7b;
    padding-top: 18px;
    padding-bottom: 18px;
    display: block;
    display: block;
}

.input-wrap {
    position: relative;
    width: 100%;
    margin-top: 18px;
}

.input-wrap:first-child {
    margin-top: 0;
}

.input-wrap input:not(.checkbox-input),
.input-wrap textarea {
    width: 100%;
    background: #766bb0;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
}

.input-wrap input:not(.checkbox-input).error, 
.input-wrap textarea.error,
.input-wrap input:not(.checkbox-input).error-pwd,
.input-wrap input:not(.checkbox-input).error-2 {
    border-color: #f49ac1;
}

.input-wrap span.error {
    display: none !important;
}

.input-wrap input::placeholder,
.input-wrap textarea::placeholder {
    color: #fff;
}

.popup-auth .input-wrap input {
    text-align: center;
}

/*EasyAutocomplete ----------------*/
.easy-autocomplete.eac-square {
    width: 100% !important;
}
.easy-autocomplete-container ul {
    display: none;
    margin: 0;
    min-width: 220px;
    width: 100%;
    position: absolute;
    top: 36px;
    z-index: 1;
    border: 2px solid #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.easy-autocomplete-container ul li {
    color: #fff;
    background: #766bb0;
    /*height: 40px;*/
    font-size: 16px;
    text-align: left;
    /*line-height: 40px;*/
    padding: 6px 12px;
    transition: all .2s;
    cursor: pointer;
}
.easy-autocomplete-container ul li.selected,
.easy-autocomplete-container ul li:hover {
    background-color: #665d96;
    color: #fff;
}
/**/

.popup-auth .input-wrap input::placeholder {
    text-align: center;
}

.popup__desc {
    font-weight: 300;
}

.popup-thx .popup__title {
    margin-bottom: 20px;
}

.popup-thx .popup__inner {
    max-width: 360px;
}

.popup-info .popup__wrap {
    max-width: 270px;
}

.popup-info .popup__inner {
    max-width: 210px;
}

.popup-info .popup__title {
    margin-bottom: 18px;
}




.popup__title {
    font-weight: bold;
    margin-bottom: 38px;
    font-size: 21px;
    position: relative;
}

.forgot-pass,
.popup-info__text {
    margin-top: 12px;
    font-weight: 300;
    text-decoration: underline;
    color: #fff;
}

.popup-info__text {
    margin-top: 26px;
}

.popup-forgot-pass .popup__title {
    font-size: 19px;
}

.popup__warn {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
}

.input-wrap textarea {
    height: 120px
}

.dropzone {
    width: 100%;
    height: 100px;


}

.dropify-wrapper {
    margin-top: 20px;
    background-color: none;
    background: url('../img/dropzone-bg.png') !important;
    background-size: cover;
    border-radius: 5px;
    border: 2px dashed white !important;
    color: #fff !important;
}

.dropify-preview {
    background: #766bb0 !important;

}


.dropify-wrapper:hover {
    animation-duration: 3s !important;
    animation-name: inf !important;
    background: black;
}

.dropzone__inner {
    max-width: 230px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.dropzone__inner span {
    text-align: left;
    margin-left: 22px;
    display: inline-block;
}

.select2 {
    width: 100%;
    text-align: left;
}

.select2 * {
    outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-left: 12px;
    color: #fff;
    margin-bottom: 4px;
}

.select2-container--default .select2-selection--single {
    border: 2px solid #FFFFFF;
    background: none;
    border-radius: 5px;
    height: 36px;
}

.select2-container--default .select2-selection--single {}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: none;
    background: url('../img/dd-wh.png') center no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border: none;
    background: url('../img/dd-wh.png') center no-repeat;
    transform: rotate(180deg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.select2-results__option[aria-selected] {
    background: #766bb0;
    padding: 6px 12px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected=true] {
    background: #665d96;
}

.select2-results {
    border: 2px solid white;
    border-top: none;
}

.select2-dropdown {
    border: none;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #fff;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 240px;
}


.checkbox {
    max-width: 246px;
    margin: auto;
    text-align: left;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    z-index: 0;
    cursor: pointer;
}

input.error + .checkmark {
    border-color: #f49ac1;
}

.checkbox input {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
}

.checkbox input:checked+span::after {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    background: #fff;
    content: '';
}

.checkbox-text {
    cursor: pointer;

    display: inline-block;
}

.checkbox-text a {
    text-decoration: underline;
    font-weight: 300;
}

.captcha {
    position: relative;
    margin: auto;
    margin-top: 20px;
    /*max-width: 210px;
    padding-left: 10px;*/
}

/*.captcha .reset {
    position: absolute;
    width: 36px;
    height: 36px;
    right: -46px;
    border: 2px solid #fff;

    background: url('../img/reset.png') center no-repeat;
    bottom: 0px;
    border-radius: 5px;
    box-sizing: border-box;
}

.captcha input {
    width: 100%;
    background: #766bb0;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    margin-top: 10px;
}*/

.popup__rules {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.popup__rules-texts {
    display: flex;
    justify-content: space-between;
    max-width: 340px;
    margin: auto;
    margin-top: 8px;
    width: 100%;
}


.input-wrap__text {
    font-weight: 300;
    margin-bottom: 20px;
}

.input-wrap-mb {
    margin-bottom: 40px;
}

.popup__inner {}

.err {
    position: absolute;
    bottom: 105px;
    color: #f49ac1;
}

.popup-reg-complete .btn {
    margin-top: 40px;
}

.popup-cookies .popup__wrap {
    max-width: 100%;
}

.popup-cookies .popup__inner {
    max-width: 1000px;
}

.cookies {
    display: flex;
    align-items: center;
}

.cookies__text {
    text-align: left;
    font-weight: 300;
}

.cookies a.js-close-popup-cookie {
    min-width: 140px;
    display: block;
    height: 36px;
    border-radius: 5px;
    border: 2px solid white;
    margin-left: 28px;
    line-height: 34px;
    text-transform: uppercase;
}

.cookies__text>a {
    border: none;
    display: inline-block;
    margin-left: 0;
    text-decoration: underline;
    height: auto;
    line-height: 16px;
}

.popup-cookies {
    top: auto;
    bottom: 0;
    padding: 0;
}

.cancel {
    width: 26px;
    height: 26px;
    background: url('../img/can.png') center no-repeat;
    right: 12px;
    top: 12px;
    cursor: pointer;
    position: absolute;
}

.section-winners {
    padding-top: 60px;
    padding-bottom: 50px;
    background: url('../img/winners-bg.png') bottom center no-repeat;
    background-size: cover;
    background-position: 0 390px;

}


.winners__title {
    margin-bottom: 36px;
}

.winners__search {
    max-width: 320px;
    width: 100%;
    margin: auto;
    margin-bottom: 34px;
    position: relative;
}

.winners__search-input {
    height: 40px;
    border-radius: 100px;
    border: 2px solid #ebc07c;
    text-align: center;
    width: 100%;
    color: #7D68AB;
}

.winners__search-input::placeholder {
    color: #7D68AB;
}

.winners__search-btn {
    height: 40px;
    width: 40px;
    background: url('../img/search.png') center no-repeat;
    position: absolute;
    right: 4px;
}

.months {
    font-weight: 300;
    display: flex;
    font-size: 21px;
    max-width: 492px;
    margin: auto;
    margin-bottom: 20px;
}

.months span {
    text-align: center;
    max-width: 162px;
    width: 100%;
    border: 2px solid white;
    border-left: none;
    box-sizing: border-box;
    border-radius: 0;
    cursor: pointer;
    padding-bottom: 4px;
}

.months span:first-child {
    border-left: 2px solid white;
    border-radius: 5px 0 0 5px;
}

.months span:last-child {
    border-radius: 0 5px 5px 0;
}

.months span.active {
    background: #fff;
    color: #7D68AB;
}

.winners__weeks {
    font-size: 21px;
    font-weight: 300;
    width: 100%;
    max-width: 326px;
    margin: auto;
    margin-bottom: 40px;
}

.weeks {
    display: flex;
    justify-content: center;
}

.weeks__nums {
    margin-left: 8px;
    display: flex;
}

.weeks__nums span {
    text-align: center;
    border-radius: 5px;
    border: 2px solid white;
    width: 32px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.weeks__nums span.active {
    background: #fff;
    color: #7D68AB;
}

.weeks__nums span:last-child {
    margin-right: 0;
}

.winners__table {
    font-weight: 300;
    max-width: 690px;
    width: 100%;
    margin: auto;
}


.winners__table table {
    width: 100%;
}

.winners__table td {
    padding-bottom: 10px;
}

.winners-td1 {
    width: 46px;
}

.winners-td2 {
    width: 126px;
}

.winners-td3 {
    text-align: center;
    width: 170px;
}

.winners-td4 {
    padding-left: 12px;
    width: 110px;
}

.winners-td5 {
    padding-left: 12px;
    width: 212px;
}

.table-pager {
    display: flex;
    justify-content: center;
}

.table-pager a {
    color: #b2afd7;
    margin-right: 10px;
}

.table-pager a:last-child {
    margin-right: 0;
}

.table-pager a.active {
    color: #fff;
    text-decoration: underline #b2afd7;
}

.section_up {
    position: relative;
    min-height: 810px;
    overflow: hidden;
}

.up__desc {
    font-weight: 300;
    margin-bottom: 16px;
    text-align: center;
}

.up__settings {
    font-weight: 300;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    text-decoration: underline;
    display: block;
    position: relative;
    padding-left: 15px;
    max-width: 140px;
}

.up__settings::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background: url('../img/cog.png') no-repeat center;
    background-size: cover;
}

.tab_item {
    display: none;
}

.tab_item:first-child {
    display: block;
}

.up__title {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.up__tabs {
    margin-bottom: 44px;
}

.up__tabs-head {
    display: flex;
    max-width: none;
    justify-content: center;
}

.up__tabs-head span {
    max-width: 124px;
}

.wrapper .active {
    color: red;
}

.up-bg {
    bottom: -282px;
    position: absolute;
    width: 1354px;
    height: 700px;
    left: -967px;
    display: none;
}

.up-fg-wrap {
    position: absolute;
    top: 13px;
    left: 432px;
    right: 0;
}

.up-fg {
    z-index: 1;
    position: absolute;
}

.up-bg.active {
    display: block;
}

.up-path {
    position: absolute;
    background: url(../img/up_moutian/path/1.png) center no-repeat;
    width: 890px;
    height: 450px;
    top: 48px;
    left: -44px;
}

.up-path2 {
    background: url(../img/up_moutian/path/2.png) center no-repeat;
}

.up-path3 {
    background: url(../img/up_moutian/path/4.png) center no-repeat;
}

.up-path4 {
    background: url(../img/up_moutian/path/5.png) center no-repeat;
}

.up-path5 {
    background: url(../img/up_moutian/path/6.png) center no-repeat;
}

.up-path6 {
    background: url(../img/up_moutian/path/7.png) center no-repeat;
}

.up-char {
    position: absolute;
    background: url(../img/up_moutian/char/1.png) center no-repeat;
    width: 90px;
    height: 90px;
    top: 12px;
    left: 286px;
    z-index: 2;
    background-size: contain;
}

.up-char2 {
    background: url(../img/up_moutian/char/2.png) center no-repeat;
    background-size: contain;
    top: 65px;
    left: 197px;

}

.up-char3 {
    background: url(../img/up_moutian/char/3.png) center no-repeat;
    background-size: contain;
    top: 118px;
    left: 215px;
}

.up-char4 {
    background: url(../img/up_moutian/char/4.png) center no-repeat;
    background-size: contain;
    top: 156px;
    left: 384px;
}

.up-char5 {
    background: url(../img/up_moutian/char/5.png) center no-repeat;
    background-size: contain;
    top: 252px;
    left: 87px;
    width: 100px;
    height: 100px;

}

.up-char6 {
    background: url(../img/up_moutian/char/6.png) center no-repeat;
    background-size: contain;
    top: 295px;
    left: 450px;
    width: 110px;
    height: 110px;
}

.up-char7 {
    background: url(../img/up_moutian/char/7.png) center no-repeat;
    background-size: contain;
    top: 331px;
    left: 600px;
}


.up-wall {
    position: absolute;
    background: url(../img/up_moutian/zabor.png) center no-repeat;
    width: 890px;
    height: 450px;
    top: 62px;
    left: -52px;
}

.rules {
    margin-top: 45px;
    font-weight: 300;
    max-width: 500px;
    margin-left: auto;
    min-height: 400px;
}

.rules__title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 21px;
}

.rules__img {
    /*position: relative;*/
    /* margin-top: 20px; */
    /*z-index: 2;*/
}

.rules__img a {
    display: inline-block;
    width: 180px;
    height: 180px;
    right: 0;
    position: absolute;
    /*bottom: -290px;*/
    bottom: 0;
    z-index: 2;
}

.rules__img img {
    position: absolute;
    right: 0;
    display: inline-block;
}

.checks {
    margin-top: 60px;
}

.check {
    position: relative;
    width: 230px;
    color: #4c4484;
    border-radius: 10px 10px 0 0;
    height: 220px;

}

.check::after {
    position: absolute;
    width: 100%;
    height: 8px;
    bottom: -5px;
    content: '';
    background: url(../img/chp.png) left repeat-x;
    background-size: 230px;
    left: 0;
}

.check__top {
    border-radius: 10px 10px 0 0;
    background: #eae7f2;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 14px;
}


.check__ava {
    border-radius: 100px;
    overflow: hidden;
    width: 56px;
    height: 56px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.check__info {
    margin-bottom: 12px;
}

.check__info:last-child {
    margin-bottom: 0;
}

.check__info .name {
    font-weight: bold;
    width: 60px;
    display: inline-block;
}

.check__bot {
    background: #fff;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    margin-bottom: 14px;
}

.check__shop {
    position: relative;
    margin-bottom: 14px;
}

.check__shop-img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
}

.check__points {
    position: relative;
}

.check__points .coin {
    display: flex;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.check__points .coin span {
    margin-right: 5px;
}

.checks {
    display: flex;
}

.check {
    margin-right: 20px;
}

.check-upload {
    border: 2px solid #FFFFFF;
    text-decoration: underline;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
    height: 219px;
    box-sizing: border-box;
}

.check-upload::after {
    bottom: -8px;
    width: calc(100% + 4px);
    left: -2px;
}

.check-upload a {
    color: #fff;
}

.prizes {
    display: flex;
    margin-top: 60px;
}

.prize {
    width: 230px;
    height: 230px;
    border-radius: 10px;
    background: #fff;
    color: #4c4484;
    text-align: center;
    margin-right: 28px;
    font-weight: bold;
}

.prize:last-child {
    margin-right: 0;
}

.prize__img {
    position: relative;
    width: 160px;
    height: 130px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 10px;

}

.prize__img img {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.up-table {

    max-width: 620px;
    width: 100%;
    margin: auto;
    margin-top: 60px;
    overflow: hidden;
    font-weight: 300;
}

.up-table table {
    width: 100%;
}

.up-table table th:nth-child(4) {
    width: 115px;
}

.up-table table th {
    position: relative;
    padding-bottom: 30px;
    text-align: left;
    font-weight: 300;
}

.up-table table th::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 2px;
    background: #fff;
    bottom: 16px;
    left: 0;
}


.up-table table td {
    padding-bottom: 12px;
}

.up__title-wrap {
    position: relative;
}

.up__upload {
    position: absolute;
    right: 0;
    top: 0;
}

.up__text {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}

.up__text span {
    margin-left: 5px;
    margin-right: 5px;
}

.up__upload-btn {
    margin-bottom: 20px;
}

.section_product {
    min-height: 800px;
}

.product {
    max-width: 660px;
    width: 100%;
    margin: auto;
}

.product__list {
    display: flex;
    flex-wrap: wrap;
}

.product__item {
    width: 170px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    margin-right: 74px;
    margin-bottom: 35px;
}

.product__item:nth-child(3n) {
    margin-right: 0;
}

.product__title {
    margin-bottom: 50px;
}

.product__item-img {
    width: 170px;
    height: 170px;
    background: #c7e8fb;
    border-radius: 100px;
    margin-bottom: 20px;
    position: relative;
}

.product__item-img img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.scale1 img {
    transform: scale(1.2);
}

.pd {
    max-width: 712px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    text-transform: uppercase;
}

.whr {
    max-width: 650px;
    margin: auto;
    width: 100%;
    margin-top: 50px;
}

.whr__title {
    font-size: 21px;
    margin-bottom: 15px;
    text-align: center;
}

.whr__list {
    display: flex;
}

.whr__item {
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
}


.pd_slider-item {
    max-width: 200px;
    width: 100%;
    text-align: center;
    margin: auto;
}

.slider-big .pd_slider-item {
    max-width: 300px;
}

.slider-big .pd_slider-img {
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pd_slider-title {
    text-transform: uppercase;
    max-width: 150px;
    margin: auto;
}

.rules {
    position: relative;
}

.up__upload .coin {
    display: flex;
    align-items: center;
}

.up__upload .coin div {
    margin-left: 10px;
}

.up__upload {
    max-width: 300px;
}

.rules__prize {
    position: absolute;
    left: 0;
    top: -80px;
    z-index: 10;
}

.rules-wrap {
    position: relative;

}

@media(max-width:1000px) {
    .rules__prize {
        display: none;
    }

    .checks,
    .prizes {
        flex-direction: column;
        align-items: center;
        margin-bottom: 60px;
        margin-top: 30px;
    }

    .check,
    .prize {
        margin: 0;
        margin-bottom: 20px;
    }

    .check-upload {
        order: -1;
    }

    .up-table {
        margin-top: 30px;
    }

    .up-table span {
        display: none;
    }

    .up-table td:first-child {
        width: 90px;
    }

    .up-table td:nth-child(2n) {
        width: 90px;
    }

    .up-table td:nth-child(3n) {
        width: 60px;
    }

    .up__text {
        flex-direction: column;
        font-size: 13px;
        align-items: flex-end;
        text-align: center;
    }

    .up__text span {
        width: 70px;
    }

    .up__upload {
        width: 140px;
        top: -47px;
    }

    .up__upload .coin {
        justify-content: center;
    }

    .up__upload .coin img {
        width: 20px;
        height: 20px;
    }


    .up__upload-btn {
        max-width: 140px;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .section_up {
        overflow: hidden;
    }

    .up__title,
    .up__desc,
    .up__settings {
        text-align: left;
        margin: 0;
    }

    .up__title {
        font-size: 21px;
    }

    .up__settings {
        margin-right: auto;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .months {
        margin-bottom: 0;
    }

    .up__tabs-head {
        font-size: 14px;
        width: calc(100% + 30px);
        transform: translate(-15px, 00px);
    }

    .up__tabs-head span {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .winners__weeks {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .product__item {
        margin-right: 20px;
        width: 120px;
    }

    .product__item:nth-child(2n) {
        margin-right: 0;
    }

    .product__item:nth-child(3n) {
        margin-right: 20px;
    }

    .product__item-img {
        width: 120px;
        height: 120px;
    }

    .product__list {
        justify-content: center;
        max-width: 320px;
        margin: auto;
    }

    .hero {
        max-width: 320px;
        margin: auto;
    }

    .map-preview,
    .map-explore {
        max-width: 320px;
        margin: auto;
    }
}

.section_p404 {
    min-height: 660px;
    background: none;
    position: relative;
    padding-top: 120px;
    overflow: hidden;
}

.bg-404 {
    position: absolute;
    left: 0;
    right: 0;
    top: 250px;

}

.p404 {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    position: relative;
}

.p404__title {
    font-size: 32px;
    margin-bottom: 40px;
}

.prizesp_title_wrap {
    display: flex;
    justify-content: center;
}

.prizesp__title {
    position: relative;

}

.prizesp__upload {
    display: flex;
    flex-direction: column;
}

.prizesp__title a {
    position: absolute;
    width: 20px;
    height: 20px;
    right: -20px;
    top: -5px;
    background: url('../img/i.png') center no-repeat;
}

.back-to-game {
    display: inline-block;
    align-self: flex-end;
    text-align: right;
    font-size: 21px;
    font-weight: 300;
    border-radius: 5px;
    border: 2px solid white;
    padding: 2px 8px;
    padding-left: 28px;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}

.back-to-game::after {
    content: '';
    position: absolute;
    left: 7px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 18px;
    background: url('../img/ar.png') center no-repeat;
}


.map-sections-wrap {
    overflow: hidden;
    position: relative;
    height: 880px;
}

.swiper * {
    outline: none;
}

.swiper-pagination {
    display: none;
}

.pd_slider_detail {
    max-width: 320px;
}

@media(max-width: 1000px) {
    .section_product {
        padding-bottom: 120px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .swiper-pagination-bullet {
        background: #fff;
        opacity: 1;
    }

    .pd_slider {
        padding-bottom: 50px;
    }

    .swiper-pagination-bullet-active {
        background: #e40002;
    }

    .swiper-pagination {
        display: block;
    }

    .section_p404 {
        min-height: 480px;
        padding-top: 50px;
    }

    .p404__title {
        margin: auto;
        max-width: 180px;
        margin-bottom: 40px;
    }

    .bg-404 {
        position: absolute;
        left: -560px;
        top: 210px;
        width: 1540px;
        max-width: none;
    }

    .p404__img {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 320px;
        margin: auto;
    }
}

.hero__img-overlay {
    width: 835px;
    height: 829px;
    top: 0;
    left: 2px;
    overflow: hidden;
    position: absolute;
    border-radius: 50%;
}

@keyframes cabIndex {
    from {
        transform: translate(-180px, 82px);
    }

    to {
        transform: translate(162px, -80px);
    }
}



/* The element to apply the animation to */
.hero .cab {
    animation-name: cabIndex;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes baloon {
    0% {
        transform: translate(0, 20px);
    }

    25% {
        transform: translate(0, -20px) rotate(2deg);

    }

    50% {
        transform: translate(0, 20px);
    }

    75% {
        transform: translate(0, -20px) rotate(-2deg);
        ;
    }

    100% {
        transform: translate(0, 20px);
    }
}

.baloon {
    animation-name: baloon;
    animation-timing-function: linear;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes sun {
    0% {
    	transform: rotate(0deg);
        opacity: 1;
    }

    25% {
    	transform: rotate(1deg);
        opacity: .7;
    }

    50% {
    	transform: rotate(0deg);
        opacity: 1;
    }

    75% {
    	transform: rotate(-1deg);
        opacity: .8;
    }

    100% {
    	transform: rotate(0deg);
        opacity: 1;
    }
}

@keyframes sunHero2 {
    0% {
        transform: rotate(0deg);
        opacity: .3;
    }

    25% {
        transform: rotate(-1deg);
        opacity: .5;
    }

    50% {
        transform: rotate(0deg);
        opacity: .3;
    }

    75% {
        transform: rotate(1deg);
        opacity: .6;
    }

    100% {
        transform: rotate(0deg);
        opacity: .3;
    }
}


.sun,
.sun2 {
    animation-name: sun;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.sun-hero2,
.sun2-hero2 {
    animation-name: sunHero2;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.mapl .type {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url('../img/map/face.png') center no-repeat;
}

.mapl .mark {
    width: 34px;
    height: 34px;
    position: absolute;
    background: url(../img/map/mark.png) center no-repeat;
    border-radius: 100px;
    border: 3px solid white;
    z-index: 5;
}


.map-space-name {
    color: #cecceb;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 180px;
    width: 100%;
    background: url('../img/up_moutian/name.png') center no-repeat;
    background-size: cover;
    padding-top: 12px;
    padding-bottom: 12px;
    position: absolute;
}

.map-space-name1 {
    top: -40px;
    left: 0;
}

.map-space-name2 {
    left: 240px;
    top: 590px;
}

.map-space-name3 {
    bottom: -80px;
    right: 320px;
    max-width: 220px;
    background: url(../img/up_moutian/name3.png) center no-repeat;
    background-size: cover;
    color: #b9b1df;
}

.type.type-food {
    background: url(../img/map/food.png) center no-repeat;
}

.type.type-bed {
    background: url(../img/map/bed.png) center no-repeat;
}

.type.type-eye {
    background: url(../img/map/eye.png) center no-repeat;
}

.mapl1-type {
    left: 36px;
    top: -29px;
}

.mapl1-mark {
    right: -8px;
    top: 8px;
}


.mapl3-mark {
    top: 172px;
    left: 132px;
}

.mapl3-mark3-3 {
    top: 266px;
    left: 446px;
}

.mapl3-2-type {
    left: 45px;
    top: 20px;
}

.mapl3-2-mark {
    right: 0;
    left: 0;
    top: 8px;
    margin: auto;
}

.mapl4-type {
    left: 2px;
    top: 32px;
}

.mapl4-mark {
    bottom: 34px;
    left: -26px;
    right: 0;
    margin: auto;
}

.mapl5-type {
    left: 14px;
    top: 15px;
}

.mapl5-mark {
    left: 190px;
    top: 54px;
}

.mapl6-type {
    left: -22px;
    bottom: 66px;
}

.mapl6-mark {
    right: 0;
    top: 102px;
}

.mapl7-type {
    left: 34px;
    top: 0px;
    bottom: 0;
    margin: auto;
}

.mapl7-mark {
    top: -140px;
    bottom: 0;
    left: -74px;
    right: 0;
    margin: auto;
}

.biba {
    position: absolute;
    left: 0;
    top: 0;
}

.biba-1 {
    left: 70px;
    top: 10px;
}

.biba-2 {
    left: 50px;
    top: 46px;
    z-index: 1;
}

.biba-3 {
    left: 120px;
    top: 37px;
}

.map-explore {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.section_prizesp {
    position: relative;
    min-height: 790px;
    overflow: hidden;
    background-position: 0 320px;
}

.section_prizesp .container {
    position: relative;
    z-index: auto;
}

@media(max-width: 1000px) {
    @keyframes sunMob {
        0% {
            transform: translate(0, 10px);
        }

        25% {
            transform: translate(0, -10px) rotate(2deg);

        }

        50% {
            transform: translate(0, 20px);
        }

        75% {
            transform: translate(0, -10px) rotate(-10deg);
            ;
        }

        100% {
            transform: translate(0, 10px);
        }
    }


    .prizesp {
        transform: scale(0.55) translate(-604px, -270px);
    }

    .section_prizesp {
        min-height: 500px;
    }

    .prizesp__upload .btn-upload {
        display: none;
    }

    .section_prizesp .container {
        max-width: 320px;
    }

    .prizesp__upload {
        width: 100%;
        max-width: 100%;
    }

    .back-to-game {
        font-size: 16px;
        margin: 0;
        /*top: -120px;*/
    }

    .prizesp__upload .up__text {
        font-size: 22px;
        flex-direction: row;
        padding-top: 95px;
        justify-content: center;
    }

    .prizesp__upload .up__text span {
        width: auto;
    }

}

.prizesp {
    position: absolute;
}

.prizesp__inner>img {
    user-select: none;
    max-width: none;
}

.prizesp__row {
    position: absolute;
    width: 660px;
    left: 0;
    right: 0;
    margin: auto;
    top: 174px;
    z-index: 2;

}

.prizesp__row2 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 660px;
    top: 370px;
    z-index: 2;
}

.prizesp__case {
    cursor: pointer;
}

.case-img,
.price-mark,
.prizesp__case {
    position: absolute;

}


/* 3 */

.case-img {
    z-index: 1;
}

.case3 {

    left: 0;
    width: 205px;
    height: 187px;
}

.case3-img {
    background: url('../img/pr/3.png');
    width: 205px;
    height: 187px;
}

.price-mark3 {
    width: 130px;
    height: 81px;
    background: url('../img/pr/price3-mark.png');
    bottom: -26px;
    left: 90px;

}

/* 5 */

.case5 {

    left: 0;
    right: 0;
    margin: auto;
    width: 168px;
    height: 189px;
}

.case5-img {
    background: url('../img/pr/5.png');
    width: 168px;
    height: 189px;
}

.price-mark5 {
    width: 83px;
    height: 81px;
    background: url('../img/pr/price5-mark.png');
    bottom: -26px;
    left: 36px;

}

/* 7 */

.case7 {

    right: 0;
    margin: auto;
    width: 205px;
    height: 187px;
}

.case7-img {
    background: url('../img/pr/3.png');
    width: 205px;
    height: 187px;
    transform: scale(-1, 1);
}

.price-mark7 {
    width: 131px;
    height: 81px;
    background: url('../img/pr/price7-mark.png');
    bottom: -26px;
    left: 0;

}


/* 10 */


.case10 {

    left: 88px;
    margin: auto;
    width: 205px;
    height: 187px;
}

.case10-img {
    background: url('../img/pr/10.png');
    width: 205px;
    height: 187px;
}

.price-mark10 {
    width: 131px;
    height: 81px;
    background: url('../img/pr/price10-mark.png');
    bottom: -19px;
    right: -16px;

}

/* 15 */


.case15 {

    right: 88px;
    margin: auto;
    width: 205px;
    height: 187px;
}

.case15-img {
    background: url('../img/pr/10.png');
    width: 205px;
    height: 187px;
    transform: scale(-1, 1);
}

.price-mark15 {
    width: 131px;
    height: 81px;
    background: url('../img/pr/price15-mark.png');
    bottom: -19px;
    left: -24px;

}

.up .baloon {
    width: 72px;
    left: -225px;
    top: -215px;
    right: auto;
}


/* lockers */

.case-img img {
    position: absolute;
    transition: all .7s;
    /* user-select: none; */
}

.case3-img img {
    left: 30px;
    top: 85px;
}

.case5-img img {
    left: 48px;
    top: 87px;
}

.case7-img img {
    left: 29px;
    top: 84px;

}

.case10-img img {
    left: 40px;
    top: 85px;
    z-index: 0;
}

.case15-img img {
    left: 40px;
    top: 85px;

}

.prizesp__case.disabled {
    pointer-events: none;
}

.prizesp__case.disabled .case-img>img {
    display: none;
}


.prizesp__case.case3.disabled .case-img {
    background: url('../img/pr/3-disabled.png');
}

.prizesp__case.case5.disabled .case-img {
    background: url('../img/pr/5-disabled.png');
}

.prizesp__case.case7.disabled .case-img {
    background: url('../img/pr/3-disabled.png');
}

.prizesp__case.case10.disabled .case-img {
    background: url('../img/pr/10-disabled.png') no-repeat;
    background-position: 27px 27px;

}

.prizesp__case.case15.disabled .case-img {
    background: url('../img/pr/10-disabled.png') no-repeat;
    background-position: 27px 27px;

}



@keyframes case3 {
    0% {
        opacity: .3;
    }

    50% {
        background: url('../img/pr/3-lose.png');
        opacity: .7;
    }


    100% {
        opacity: 1;
    }
}

@keyframes case5 {
    0% {
        opacity: .3;
    }

    50% {
        background: url('../img/pr/5-lose.png');
        opacity: .7;
    }


    100% {
        opacity: 1;
    }
}

@keyframes case10 {
    0% {
        opacity: .3;
    }

    50% {
        background: url('../img/pr/10-lose.png');
        opacity: .7;
    }

    100% {
        opacity: 1;
    }
}

.case3.active .case-img {
    animation-name: case3;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
    background: url('../img/pr/3-lose.png');
    width: 189px;
    height: 203px;
    top: -30px;
    left: 31px;

}


.case5.active .case-img {
    animation-name: case5;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
    background: url('../img/pr/5-lose.png');
    width: 164px;
    height: 203px;
    top: -30px;
    left: 2px;
}

.case7.active .case-img {
    animation-name: case3;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
    background: url('../img/pr/3-lose.png');
    width: 164px;
    height: 203px;
    top: -30px;
    left: 2px;
}

.case10.active .case-img {
    animation-name: case10;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
    background: url('../img/pr/10-lose.png');
    width: 229px;
    height: 195px;
    top: -23px;
    left: 2px;
}

.case15.active .case-img {
    animation-name: case10;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
    background: url('../img/pr/10-lose.png');
    width: 229px;
    height: 195px;
    top: -20px;
    left: -25px;
}



@keyframes case3win {
    0% {
        opacity: .3;
    }

    50% {
        background: url('../img/pr/3-win.png');
        opacity: .7;
    }


    100% {
        opacity: 1;
    }
}

@keyframes case5win {
    0% {
        opacity: .3;
    }

    50% {
        background: url('../img/pr/5-win.png');
        opacity: .7;
    }


    100% {
        opacity: 1;
    }
}

@keyframes case10win {
    0% {
        opacity: .3;
    }

    50% {
        background: url('../img/pr/10-win.png');
        opacity: .7;
    }


    100% {
        opacity: 1;
    }
}

.case3.active.win .case-img {
    animation-name: case3win;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: 1;
    background: url('../img/pr/3-win.png');
    width: 189px;
    height: 203px;
    top: -32px;
    left: 3px;

}

.case5.active.win .case-img {
    animation-name: case5win;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: 1;
    background: url('../img/pr/5-win.png');
    width: 189px;
    height: 203px;
    top: -25px;
    left: -20px;

}

.case7.active.win .case-img {
    animation-name: case3win;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: 1;
    background: url('../img/pr/3-win.png');
    width: 189px;
    height: 203px;
    top: -32px;
    left: 15px;

}

.case10.active.win .case-img {
    animation-name: case10win;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: 1;
    background: url('../img/pr/10-win.png');
    width: 229px;
    height: 195px;
    top: -50px;
    left: -20px;
}

.case15.active.win .case-img {
    animation-name: case10win;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: 1;
    background: url('../img/pr/10-win.png');
    width: 229px;
    height: 195px;
    top: -53px;
    left: -4px;
}

@keyframes lockerOp {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .7;
    }


    100% {
        opacity: 0;
    }
}

/* lockers anim */
.prizesp__case.active .case-img img {
    opacity: 0;
    animation-name: lockerOp;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.case3.active .case-img img {
    top: 150px;
}

.case5.active .case-img img {
    top: 150px;
    left: 70px;
}

.case7.active .case-img img {
    top: 150px;
}

.case10.active .case-img img {
    left: 60px;
    top: 170px;
}

.case15.active .case-img img {
    left: 60px;
    top: 170px;
}


.mob {
    display: none;
}

@media(max-width:1000px) {
    .mob {
        display: block;
    }

    .section-hero {
        z-index: 0;
        padding-bottom: 50px;
    }

    .baloon {
        right: calc(4px);
        width: 90px;
        top: -35px;
    }

    .hero__img-overlay {
        width: 360px;
        height: 355px;
    }

    .hero__img {
        top: -60px;
    }

    .cab {
        width: 30px;
        top: 100px;
        left: 100px;

    }

    .snow1 {
        top: -44px;
        right: 16px;
    }

    .sun {
        top: -190px;
        right: 0px;
    }

    .hero__title {
        padding-top: 140px;
        margin-bottom: 20px;
    }

    .map__title {
        padding-top: 30px;
        max-width: 200px;
        margin: auto;
        margin-bottom: 20px;
        font-size: 28px;
    }

    .sun2 {
        top: 190px;
        width: 150px;
        left: -35px;

    }

    .map__title-desc {
        font-size: 18px;
        min-height: none;
    }

    .map-preview .map__title-desc {
        font-size: 28px;
        text-transform: uppercase;
        max-width: 200px;
        width: 100%;

    }

    .map {
        padding-top: 195px;
    }


    .mapl .type {
        background-size: contain;
        width: 35px;
        height: 35px;
    }

    .mapl .mark {
        width: 25px;
        height: 25px;
        border: 2px solid white;
    }

    .mapl__item1 {
        left: 125px;
        width: 100px;
    }

    .mapl1-type {
        left: auto;
        right: -20px;
        bottom: 0;
        top: auto;

    }

    .mapl1-mark {
        right: 0px;
        top: -9px;
    }

    .mapl__item2 {
        left: 22px;
        width: 80px;
        top: -134px;
    }

    .mapl__item3 {
        left: -96px;
        width: 460px;
        top: -247px;

    }

    .mapl3-mark {
        top: 89px;
        left: 87px;
    }

    .mapl3-mark3-3 {
        top: 142px;
        left: 237px;
    }

    .mapl__item3-2 {
        left: 1px;
        width: 163px;
    }

    .mapl3-2-type {
        left: 4px;
        top: -16px;
    }

    .mapl3-2-mark {
        right: -17px;
        left: 0;
        top: -2px;
    }

    .mapl4 {
        padding-top: 10px;
    }

    .mapl__item4 {
        width: 200px;
        left: 45px;
    }

    .mapl4-type {
        left: -14px;
        top: -21px;
    }

    .mapl4-mark {
        bottom: 20px;
        left: 0px;
    }

    .mapl__item6 {
        bottom: 173px;
        right: 8px;
        width: 56px;
        left: auto;
    }

    .mapl6-type {
        left: -29px;
        bottom: 56px;
    }

    .mapl6-mark {
        right: -4px;
        top: 32px;
    }

    .biba {
        width: 45px;
    }

    .biba-1 {
        left: 44px;
        top: 0px;
    }

    .biba-2 {
        left: 27px;
        top: 21px;
    }

    .biba-3 {
        left: 61px;
        top: 12px;
    }


    .mapl__item5 {
        left: -35px;
        top: 16px;
        width: 260px;
    }

    .mapl5-type {
        left: 22px;
        top: 58px;
    }

    .mapl5-mark {
        left: 242px;
        top: 67px;
    }

    .mapl__item7 {
        bottom: -1px;
        right: -71px;
        width: 214px;
    }

    .map-sections-wrap.explore,
    .map-explore.active {
        height: 1180px;
    }

    .map-btn {
        font-size: 22px;
    }

    .map-sections-wrap {}

    .steps__desc {
        max-width: calc(320px - 28px);
        margin: auto;
    }

    .up-bg.active {
        display: block;
        top: 0;
        left: 33%;
        transform: translate(-50%, -25%) scale(0.5);
    }

    /*.up-bg.active::before {
    	content: '';
	    display: block;
	    position: absolute;
	    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #7D68AB 100%);
	    background: url(../img/qqqq.png) center no-repeat;
	    bottom: 0px;
	    height: 310px;
	    width: 100%;
    }*/

    .up-bg.active::after {
        content: '';
	    display: block;
	    position: absolute;
	    left: 0;
	    right: 0;
	    bottom: -500px;
	    height: 750px;
	    width: 100%;
	    margin: auto;
	    background: url(../img/lk-bg-mob.png) center no-repeat;
	    background-size: cover;
	    z-index: 0;
    }

    .rules {
        position: static;
        margin-top: 20px;
    }

    .up__game-rules {
        height: 220px;
        position: relative;
    }

    .rules__title,
    .rules__desc {
        display: none;
    }

    .rules__img {
        width: 100px;
        margin-top: 0;
        margin-left: auto;
    }

    .section_up {
        min-height: 220px;
    }


    .header__row.purple.z0 {
        z-index: 0;
    }

    .footer__inner .logo {
        margin-bottom: 20px;
    }

    .rules__img a {
        width: 90px;
        height: 90px;
        bottom: 0;
        top: 0;
    }

    .up .baloon {
        display: none;
    }

    .header.z10 {
        z-index: 10;
    }

    .section_up__inner {
        max-width: 320px;
        margin: auto;
    }

    .map-bg {
        background-position-y: 200px;
    }

    .map-bg.active{
            background-position-y: 200px;
    }

    .map-space-name {
        max-width: 134px;
        font-size: 14px;
    }

    .map-space-name1 {
        top: 74px;
        left: 0;
    }

    .map-space-name2 {
        left: 160px;
        top: 470px;
        z-index: 2;
    }

    .map-space-name3 {
        right: 320px;
        background: url(../img/up_moutian/name.png) center no-repeat;
        background-size: cover;
        left: 0;
        bottom: 45px;
    }

    .pd_slider-wrap {
        width: calc(100% + 30px);
        transform: translate(-15px, 0px);
    }



    /* .footer-bg{
        bottom: -40px;
    } */

    .prizes {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .prize__img {
        width: 100px;
    }

    .prize {
        width: 140px;
        height: 240px;
        margin-right: 10px;
    }

    .prize:nth-child(2n) {
        margin-right: 0;
    }

    .pd__item {
        margin-right: 10px;
    }

    .pd__item:nth-child(2n) {
        margin-right: 0;
    }

    .pd__item-title {
        text-align: center;
    }

    .cookies {
        flex-direction: column;
    }

    .popup__wrap {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .popup__inner {
        max-width: 290px;
    }

    .popup-cookies .popup__wrap {
        border-radius: 0;
    }

    .popup-cookies .popup__inner {
        max-width: 290px;

    }

    .cookies a.js-close-popup {
        margin-left: 0;
        margin-top: 30px;
    }
}

.popup-cookies .popup__wrap {
    border-radius: 0;
}

.popup-shops .popup__desc {
    text-align: left;
    margin-top: 20px;
}

@media(max-width: 420px) {
    .map-sections-wrap {
        height: 552px;
    }

    .map-preview .map-bg {
        height: 640px;
        background-position: -200px 260px;
        width: 720px;
        background-size: contain;
    }

    .footer-bg {
        height: calc(100% + 260px);
    }
}

.rules__btns {
    margin-top: 20px;
    z-index: 15;
    position: relative;
}

.rules__btns a {
    display: inline-block;
    color: #7d68ab;
    text-decoration: underline;
    background: white;
    border-radius: 5px;
    padding: 8px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 40px;
    margin-right: 10px;
    border: 2px solid transparent;
    position: relative;
}

.rules__btns a.disabled {
    padding-right: 40px;
    background: none;
    border: 2px solid #7d68ab;
}

.rules__btns a.disabled::after {
    position: absolute;
    right: 15px;
    top: 0px;
    bottom: 0;
    margin: auto;
    content: '';
    width: 20px;
    height: 20px;
    background: url('../img/up_moutian/auth.png') center no-repeat;
    background-size: contain;
}

.rules__btns a.disabled:last-child::after {
    background: url('../img/up_moutian/vk.png') center no-repeat;
    background-size: contain;
}

.btn {
    transition: all .6s;
}

.btn:hover {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.0);
}

.btn.btn-disabled {
    background: #9c9999;
    opacity: .5;
    box-shadow: none;
    pointer-events: none;
}

.btn.btn-disabled:hover {
    background: #9c9999;
    opacity: .5;
    color: #3f3282;
}

.prizesp__case img.case-img-prize {
    pointer-events: none;
    top: 50px;
    bottom: auto;
    opacity: 0;
    transition: all .5s ease-in-out;
    animation-name: none !important;
}

.prizesp__case.active img.case-img-prize {
    opacity: 1;
    bottom: auto;
    top: 20px;
    /* animation-name: imgPr;
     animation-timing-function: ease-in-out;
     animation-duration: 1s;
     animation-iteration-count: 1; */
}

/* @keyframes imgPr{
    from{
        opacity: 0;
        transform: translate(0,0)
    }

    to{
        opacity: 1;
        transform: translate(0px, -50px)
    }
} */

.case-img-prize.flip {
    transform: scale(-1, 1);
}

.header__nav-link {
    position: relative;
    transition: all .3s;
}


.header__nav-link::after {
    position: absolute;
    content: '';
    width: 0px;
    bottom: 4px;
    left: 14px;
    height: 2px;
    background: transparent;
    transition: all .3s;

}

.header__nav-link.active::after {
    background: white;
    width: calc(100% - 28px);
}

.header__nav-link:hover::after {
    background: white;
    width: calc(100% - 28px);
}


.header__nav-link.red:after {
    display: none;
}

.header__nav-link.red:hover {
    background: #ebc07c;
}

.header__nav-link .lk-link,
.header__nav-link .logout-link {
    text-align: left;
    padding: 0 10px;
}

.header__nav-link .lk-link:after,
.header__nav-link .logout-link:after {
    display: none;
}

.header__nav-link .logout-link {
    text-decoration: underline;
}

.header__nav-link .logout-link:hover {
    text-decoration: none;
}

.footer__link a:hover {
    text-decoration: none;
}

.no-scrolling {
    overflow: hidden;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    content: '';
}

.swiper-button-prev,
.swiper-button-next {
    top: 45%;
}

.swiper-button-prev {
    left: calc(50% - 110px);
    transform: translate(-50%, 0);
    right: auto;
    background: url('../img/l.png') center no-repeat;
    background-size: contain;
}

.slider-big .swiper-button-prev {
    left: calc(45% - 110px);
}

.swiper-button-next {
    right: calc(50% - 110px);
    transform: translate(50%, 0);
    left: auto;
    background: url('../img/r.png') center no-repeat;
    background-size: contain;
}

.slider-big .swiper-button-next {
    right: calc(45% - 110px);
}

.popup-before-start .popup__wrap {
    max-width: 660px;
    border-radius: 10px;
}

.popup-before-start .popup__inner {
    max-width: 640px;
    position: relative;
    padding-left: 210px;
    text-align: left;
    padding-right: 50px;
    min-height: 180px;
    padding-top: 15px;
}

.popup-before-start .popup__img {
    position: absolute;
    width: 190px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.popup-before-start .popup__title {
    margin-bottom: 15px;
}

.popup-before-start .js-close-popup {
    top: -30px;
    right: 0;
}

.popup-upload .popup__wrap {
    text-align: left;
}

.popup-upload .popup__inner {
    max-width: 330px;
}

.popup-upload .popup__title {
    text-align: center;
    margin-bottom: 20px;
}

.check__info .succ {
    color: green;
}

.check__info .onhold {
    color: orange;
}

.check__info .rej {
    color: red;
}

.popup-info .popup__wrap {
    max-width: 660px;
    line-height: 17px;
}

.popup-info .popup__inner {
    max-width: 560px;
}

.popup-info-prizes .popup__wrap .popup__desc {
    font-weight: normal;
}

.popup-info-prizes .popup__inner {
    max-width: 380px;
}

.popup-info-prizes .btn,
.popup-prize .btn {
    border-radius: 5px;
    font-weight: normal;
    max-width: 120px;
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: none;
    border: 2px solid transparent;
    font-size: 21px;
    margin-top: 24px;
}

.popup-info-prizes .btn:hover,
.popup-prize .btn:hover {
    border: 2px solid white;
    background: none;
}

.il {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: -10px;
    background: url('../img/iw.png') no-repeat center;
    background-size: contain;
}

.popup-prize .popup__wrap {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 4px solid white;
    box-shadow: 0px 0px 0px 4px rgb(235, 192, 124);

}

.popup-prize .popup__title {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;
}

.popup-prize .cancel {
    right: -5px;
    top: -5px;
}

.popup_prize_lose .popup__title,
.popup_prize_lose .popup__desc {
    font-weight: bold;
}

.popup_prize_lose .btn {
    margin-top: 16px;
}


.section-map .asnow {
    position: absolute;
    animation: 5;
    right: 0;
    z-index: 2;
    top: -100px;
}

.cd-start-date {
    display: none;
}




/* .asnow__snow {
    left: 0;
} */


.section-winners .p404 .asnow.asnow1 {
    position: absolute;
    z-index: 0;
    left: -400px;
    top: -180px;
}

.section-winners .p404 .asnow.asnow2 {
    position: absolute;
    z-index: 1;
    right: -280px;
    top: -130px;

}

.section_prizesp .asnow.asnow1 {
    position: absolute;
    z-index: 0;
    top: -60px;
    left: -400px;
}

.section_prizesp .asnow.asnow2 {
    position: absolute;
    z-index: 0;
    right: -280px;
    top: 0px;

}

.section_product {
    position: relative;
    overflow: hidden;
}

.section_product .asnow.asnow1 {
    position: absolute;
    z-index: 0;
    top: -20px;
    left: -400px;
}

.section_product .asnow.asnow2 {
    position: absolute;
    z-index: 0;
    right: -280px;
    top: 0px;

}

.section_up .asnow.asnow1 {
    position: absolute;
    z-index: 0;
    top: -20px;
    left: -400px;
}

.section_up .asnow.asnow2 {
    position: absolute;
    z-index: 0;
    right: -280px;
    top: 0px;

}


.section-winners .asnow.asnow1 {
    position: absolute;
    z-index: 0;
    top: -70px;
    left: -400px;
}

.section-winners {
    position: relative;
    overflow: hidden;
}

.section-winners .asnow.asnow2 {
    position: absolute;
    z-index: 0;
    right: -100px;
    bottom: -210px;

}

.section_product .asnow.asnow1 {
    position: absolute;
    z-index: 0;
    top: -20px;
    left: -400px;
}

.section_product .asnow.asnow2 {
    position: absolute;
    z-index: 0;
    right: -100px;
    bottom: -140px;
    top: auto;

}

@media(max-width: 1000px) {
    .section_prizesp {
        min-height: 550px
    }

    .section-winners .p404 .asnow.asnow1 {
        display: none;
    }

    .section-winners .p404 .asnow.asnow2 {
        display: none;

    }

    .asnow-wrap {
        position: absolute;
        height: 400px;
        width: 320px;
        overflow: hidden;
        right: 0;
    }


    .section-map .asnow {
        position: absolute;
        right: -190px;
        top: 15px;
        width: 420px;
    }

    .section_product .asnow.asnow1 {
        display: none;
    }

    .section_product .asnow.asnow2 {
        display: none;

    }


    .section_prizesp .asnow.asnow1 {
        display: none;

    }

    .section_prizesp .asnow.asnow2 {

        display: none;

    }

    .section_up .asnow.asnow1 {
        display: none;
    }

    .section_up .asnow.asnow2 {
        display: none;
    }

    .slider-big .pd_slider-img {
        height: 150px;
    }
}

.asnow,
.snow1,
.snow2 {
    animation-name: asnow !important;
    animation-iteration-count: infinite !important;
    animation-timing-function: ease-in !important;
    animation-duration: 3s !important;
}


@media (max-width: 1490px) {
    .snow2 {
        width: 700px;
        top: 210px;
        left: -100px;
    }
}


@keyframes asnow {
    0% {
        filter: brightness(100%);
    }

    50% {
        filter: brightness(140%);
        opacity: .5;
    }

    100% {
        filter: brightness(100%);
    }
}

.iframe-wrap,
.iframe-wrap iframe {
    scrollbar-width: none;
}

.iframe-wrap {
    height: 100%;
    min-height: 380px;
    width: 100%;
}

.iframe-wrap iframe {
    height: 100vh;
    max-height: 380px;
    width: 100%;
}

@media(max-width:1215px){
    .map-bg-right{
        left: -400px;
        width: calc(100% + 500px);
    }
}

@media(max-width:1000px){
    .map-bg-right{
        left: -300px;
        width: calc(100% + 500px);
    }

    .map-bg-left{
        left: -280px;
        width: calc(100% + 400px);
    }
}