html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    display: block;
}

ol,
ul {
    list-style: none;
}

b,
strong {
    font-weight: bolder;
    font-family: 'Futura PT', sans-serif;
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-style: none;
}

a {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    transition: all .3s;
    /* -webkit-transition: all .4s linear;
    transition: all .4s linear; */
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    resize: vertical;
    overflow: auto;
    resize: none;
}

::-ms-clear {
    display: none;
}

input {
    overflow: visible;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #fff;
    font: normal 16px 'Futura PT', sans-serif;
     background: #766bb0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 0;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}


/* .content {
    flex: 1 0 auto;
} */

.footer {
    flex: 0 0 auto;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Book.eot');
    src: url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Book.woff2') format('woff2'),
        url('../fonts/FuturaPT-Book.woff') format('woff'),
        url('../fonts/FuturaPT-Book.ttf') format('truetype'),
        url('../fonts/FuturaPT-Book.svg#FuturaPT-Book') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Heavy.eot');
    src: url('../fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Heavy.woff2') format('woff2'),
        url('../fonts/FuturaPT-Heavy.woff') format('woff'),
        url('../fonts/FuturaPT-Heavy.ttf') format('truetype'),
        url('../fonts/FuturaPT-Heavy.svg#FuturaPT-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Bold.eot');
    src: url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Bold.woff2') format('woff2'),
        url('../fonts/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/FuturaPT-Bold.ttf') format('truetype'),
        url('../fonts/FuturaPT-Bold.svg#FuturaPT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT-Medium.eot');
    src: url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Medium.woff2') format('woff2'),
        url('../fonts/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT-Medium.ttf') format('truetype'),
        url('../fonts/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura Condensed PT';
    src: url('../fonts/FuturaCondensedPT-Medium.eot');
    src: url('../fonts/FuturaCondensedPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaCondensedPT-Medium.woff2') format('woff2'),
        url('../fonts/FuturaCondensedPT-Medium.woff') format('woff'),
        url('../fonts/FuturaCondensedPT-Medium.ttf') format('truetype'),
        url('../fonts/FuturaCondensedPT-Medium.svg#FuturaCondensedPT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}


/*main styles*/
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow-x: hidden;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}
.container {
    width: 100%;
    max-width: 880px;
    margin: auto;
    padding: 0 15px;
    position: relative;
}
.header {
    padding-top: 20px;
    position: relative;
}
.header-logo {
    max-width: 400px;
    width: 100%;
    margin: auto;
}
.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 752px;
    background: url(../img/promo/snow.png) center no-repeat;
    background-size: 1920px 752px;
    z-index: -1;
}
.promo-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.countdown {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 100px;
}
.cd-elem {
    margin: 0 25px;
}
.cd {
    width: 200px;
    height: 230px;
    line-height: 230px;
    background: #b5a0d6;
    font-family: 'Futura Condensed PT';
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0px 0 10px rgba(0, 0, 0, .4);
    border-radius: 10px;
    overflow: hidden;
    text-shadow: rgb(163, 148, 207) 1px 1px,
    rgb(163, 148, 207) 2px 2px,
    rgb(163, 148, 207) 3px 3px,
    rgb(163, 148, 207) 4px 4px,
    rgb(163, 148, 207) 5px 5px,
    rgb(163, 148, 207) 6px 6px,
    rgb(163, 148, 207) 7px 7px,
    rgb(163, 148, 207) 8px 8px,
    rgb(163, 148, 207) 9px 9px,
    rgb(163, 148, 207) 10px 10px,
    rgb(163, 148, 207) 11px 11px,
    rgb(163, 148, 207) 12px 12px,
    rgb(163, 148, 207) 13px 13px,
    rgb(163, 148, 207) 14px 14px,
    rgb(163, 148, 207) 15px 15px,
    rgb(163, 148, 207) 16px 16px,
    rgb(163, 148, 207) 17px 17px,
    rgb(163, 148, 207) 18px 18px,
    rgb(163, 148, 207) 19px 19px,
    rgb(163, 148, 207) 20px 20px,
    rgb(163, 148, 207) 21px 21px,
    rgb(163, 148, 207) 22px 22px,
    rgb(163, 148, 207) 23px 23px,
    rgb(163, 148, 207) 24px 24px,
    rgb(163, 148, 207) 25px 25px,
    rgb(163, 148, 207) 26px 26px,
    rgb(163, 148, 207) 27px 27px,
    rgb(163, 148, 207) 28px 28px,
    rgb(163, 148, 207) 29px 29px,
    rgb(163, 148, 207) 30px 30px,
    rgb(163, 148, 207) 31px 31px,
    rgb(163, 148, 207) 32px 32px,
    rgb(163, 148, 207) 33px 33px,
    rgb(163, 148, 207) 34px 34px,
    rgb(163, 148, 207) 35px 35px,
    rgb(163, 148, 207) 36px 36px,
    rgb(163, 148, 207) 37px 37px,
    rgb(163, 148, 207) 38px 38px,
    rgb(163, 148, 207) 39px 39px,
    rgb(163, 148, 207) 40px 40px,
    rgb(163, 148, 207) 41px 41px,
    rgb(163, 148, 207) 42px 42px,
    rgb(163, 148, 207) 43px 43px,
    rgb(163, 148, 207) 44px 44px,
    rgb(163, 148, 207) 45px 45px,
    rgb(163, 148, 207) 46px 46px,
    rgb(163, 148, 207) 47px 47px,
    rgb(163, 148, 207) 48px 48px,
    rgb(163, 148, 207) 49px 49px,
    rgb(163, 148, 207) 50px 50px,
    rgb(163, 148, 207) 51px 51px,
    rgb(163, 148, 207) 52px 52px,
    rgb(163, 148, 207) 53px 53px,
    rgb(163, 148, 207) 54px 54px,
    rgb(163, 148, 207) 55px 55px,
    rgb(163, 148, 207) 56px 56px,
    rgb(163, 148, 207) 57px 57px,
    rgb(163, 148, 207) 58px 58px,
    rgb(163, 148, 207) 59px 59px,
    rgb(163, 148, 207) 60px 60px,
    rgb(163, 148, 207) 61px 61px,
    rgb(163, 148, 207) 62px 62px,
    rgb(163, 148, 207) 63px 63px,
    rgb(163, 148, 207) 64px 64px,
    rgb(163, 148, 207) 65px 65px,
    rgb(163, 148, 207) 66px 66px,
    rgb(163, 148, 207) 67px 67px,
    rgb(163, 148, 207) 68px 68px,
    rgb(163, 148, 207) 69px 69px,
    rgb(163, 148, 207) 70px 70px,
    rgb(163, 148, 207) 71px 71px,
    rgb(163, 148, 207) 72px 72px,
    rgb(163, 148, 207) 73px 73px,
    rgb(163, 148, 207) 74px 74px,
    rgb(163, 148, 207) 75px 75px,
    rgb(163, 148, 207) 76px 76px,
    rgb(163, 148, 207) 77px 77px,
    rgb(163, 148, 207) 78px 78px,
    rgb(163, 148, 207) 79px 79px,
    rgb(163, 148, 207) 80px 80px,
    rgb(163, 148, 207) 81px 81px,
    rgb(163, 148, 207) 82px 82px,
    rgb(163, 148, 207) 83px 83px,
    rgb(163, 148, 207) 84px 84px,
    rgb(163, 148, 207) 85px 85px,
    rgb(163, 148, 207) 86px 86px,
    rgb(163, 148, 207) 87px 87px,
    rgb(163, 148, 207) 88px 88px,
    rgb(163, 148, 207) 89px 89px,
    rgb(163, 148, 207) 90px 90px,
    rgb(163, 148, 207) 91px 91px,
    rgb(163, 148, 207) 92px 92px,
    rgb(163, 148, 207) 93px 93px,
    rgb(163, 148, 207) 94px 94px,
    rgb(163, 148, 207) 95px 95px,
    rgb(163, 148, 207) 96px 96px,
    rgb(163, 148, 207) 97px 97px,
    rgb(163, 148, 207) 98px 98px,
    rgb(163, 148, 207) 99px 99px,
    rgb(163, 148, 207) 100px 100px;
}
.cd-text {
    margin-top: 15px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background: #9b89d2;
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .6);
    border-radius: 10px;
}
.m1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1140px;
    height: 528px;
    background: url(../img/promo/m1.png) center no-repeat;
    background-size: 1140px 528px;
    z-index: -2;
}
.m2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1638px;
    height: 728px;
    background: url(../img/promo/m2.png) center no-repeat;
    background-size: 1638px 728px;
    z-index: -2;
}
.footer {
    padding-bottom: 26px;
    background-size: cover;
    position: relative;
}
.footer__inner {
    position: relative;
}
.footer-bg {
    position: absolute;
    width: 100%;
    height: calc(100% + 150px);
    background: url('../img/footer-bg.png') center no-repeat;
    background-size: cover;
    bottom: 0;
    z-index: -1;
}
.footer__inner .logo {
    margin: auto;
    max-width: 185px;
    width: 100%;
}
.footer__links {
    display: flex;
    width: 100%;
    max-width: 880px;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}
.cc {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #7d68aa;
    margin-top: 20px;
    position: relative;
    z-index: 3;
    letter-spacing: -1px;
}
.lz {
    position: absolute;
    bottom: 0;
    left: 80%;
    right: 0;
    margin: auto;
    width: 600px;
    height: 371px;
    background: url(../img/promo/lz.png) center no-repeat;
    background-size: 600px 371px;
    z-index: 2;
}

@media (max-width: 1366px) {
    .lz {
        left: 77%;
    }
}

@media (max-width: 1000px) {
    .header-logo {
        max-width: 370px;
    }
    .countdown {
        margin-bottom: 350px;
    }
    .cd-elem {
        margin: 0 20px;
    }
    .cd {
        width: 180px;
        height: 210px;
        line-height: 210px;
    }
    .cd-text {
        width: 180px;
    }
    .m1 {
        left: -10%;
        width: 1140px;
        height: 428px;
        background: url(../img/promo/m1.png) center 0 no-repeat;
        background-size: 1140px 528px;
    }
    .m2 {
        right: -10%;
        width: 1638px;
        height: 478px;
        background: url(../img/promo/m2.png) center 0 no-repeat;
        background-size: 1638px 728px;
    }
    .lz {
        left: 45%;
        bottom: 170px;
        z-index: -2;
        width: 470px;
        height: 271px;
        background-size: 470px 271px;
    }
    .footer__inner .logo {
        max-width: 130px;
    }
    .cc {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .header-logo {
        max-width: 340px;
    }
    .promo-title {
        max-width: 400px;
        margin: auto;
        font-size: 30px;
    }
    .cd-elem {
        margin: 0 10px;
    }
    .cd {
        width: 100px;
        height: 130px;
        line-height: 130px;
        font-size: 65px;
    }
    .cd-text {
        width: 100px;
        font-size: 20px;
    }
    .m1 {
        left: -10%;
        bottom: 100px;
        width: 800px;
        height: 371px;
        background-size: cover;
    }
    .m2 {
        right: -30%;
    }
    .lz {
        left: 45%;
        width: 400px;
        height: 248px;
        background-size: cover;
    }
}

@media (max-width: 500px) {
    .header-logo {
        max-width: 280px;
    }
    .promo-title {
        font-size: 26px;
    }
    .m1 {
        left: -15%;
        width: 700px;
        height: 324px;
    }
    .m2 {
        right: -50%;
    }
    .lz {
        bottom: 190px;
        width: 350px;
        height: 217px;
    }
}

@media (max-width: 370px) {
    .promo-title {
        font-size: 22px;
    }
    .cd-elem {
        margin: 0 8px;
    }
    .cd {
        width: 90px;
        height: 120px;
        line-height: 120px;
        font-size: 60px;
    }
    .cd-text {
        width: 90px;
        font-size: 20px;
    }
    .m2 {
        right: -50%;
    }
    .lz {
        bottom: 180px;
        width: 300px;
        height: 186px;
    }
    .cc {
        font-size: 10px;
    }
}